<% include partials/header %>
<div class="row">
        <div class="col">
            <h1><%= title %></h1>
            <div id="body">
                <input type="text" name="name" id="name">
                <button class="btn btn-primary" id="button">name</button>
            </div>
        </div>
    </div>
<% include partials/footer %>